body{
    font-family: Arial, Helvetica, sans-serif; 
    overflow-x: hidden;
    background-color: rgb(244, 249, 255);
    
}

nav.navbar{
    background-color: rgb(228 237 255);
}


.titulo-index{
    text-align: center;
    font-size: 300%; 
    font-family: Arial; 
    font-weight: bold; 
    color: white; 
}

footer{
    background-color: #040428;
    color: white; 
}

.logo1{
    text-decoration: none;
    font-size: 350%;
    font-family: 'Lobster', cursive;
    color: white;
	margin-bottom: -10px;
}

.cadastro{
    background-color: #E2EFFF;
    width: 650px;
    border-bottom: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top:50px;
    margin-bottom: 100px;
    border-radius: 20px;
}


.login{   
    background-color: #E2EFFF;
}

#link{
	text-decoration: none;
}

/* ------------------------------------------------------------------------------- */


select {
    appearance: none; /* Remove a seta padrão do navegador */
    -webkit-appearance: none; /* Para navegadores baseados em WebKit, como o Chrome */
    -moz-appearance: none; /* Para navegadores baseados em Gecko, como o Firefox */
    background-image: url("caminho_para_a_imagem_da_seta.png"); /* Adicione uma imagem para a seta */
    background-position: right center; /* Posicione a imagem da seta à direita */
    background-repeat: no-repeat; /* Não repita a imagem */
    padding-right: 20px; /* Adicione um espaço para a imagem da seta */
  }
  
  /* Estilizando o fundo do <select> */
  select {
    background-color: #E2EFFF; /* Define a cor de fundo */
    border: 1px solid #0D6EFD; /* Adicione uma borda */
    border-radius: 4px; /* Arredonda as bordas */
    padding: 6px; /* Adicione um espaçamento interno */
  }
  
  /* Estilizando as opções do <select> */
  select option {
    background-color: #E2EFFF; /* Define a cor de fundo das opções */
    color: #333; /* Define a cor do texto das opções */
  }
  
  /* Estilizando o <select> quando estiver focado */
  select:focus {
    outline: none; /* Remove o contorno padrão ao focar */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Adicione uma sombra ao focar */
  }

  #prazo{
    color: red;
  }

  th {
	background-color: #ffffff00;
  }

  















/*############ Estilo do chat ############*/

/*
############
	Divisão responsável por renderizar
	o chat
############
*/
.chat{
	border-radius: 5px;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 5px 10px 10px;
	margin-top: 100px;
	height: 410px;
	overflow-y: auto;
	background-color: #2a2a2b;
}


/*
############
	Formulário responsável por
	enviar a imagem
############
*/
.formulariomsg{
	text-align: right;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	background-color: #2a2a2b;
	box-shadow: 5px 10px 10px;
}


/*
############
	Formatação da tag textarea, responsável
	por ser a área de digitação das mensagens
############
*/
.mensagem{
	border: 1px solid black;
	border-radius: 5px;
	
	width: 100%;
	overflow: auto;
	max-height: 200px;
    height: 50px;
    overflow-y: hidden;
}




/*
############
	Css do botão submit, reponsável por enviar
	os dados do formulário para serem tratados
############
*/
.botaoEnviar{
	background-color: #899dd9;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 3px;
	font-family: Helvetica;
	text-align: center;
	outline: none;
	transition: 0.5s;
}

.botaoEnviar:hover{
	transition: 0.5s;
	background-color: #96bd6f;
}

/*
############
	Css do texto responsável por
	renderizar o nome de quem enviou
	a mensagem
############
*/
.nome1{
	padding: 7px;
	background-color: #322c36;
	border-radius: 8px;
	margin-bottom: -6px;
	border: 1px solid black;
	color: white;
}
.nome2{
	
	padding: 7px;
	background-color: #322c36;
	border-radius: 8px;
	margin-bottom: -6px;
	border: 1px solid black;
	color: white;
}


/*
############
	Css do texto responsável por
	renderizar a mensagem enviada
	pelo usuário
############
*/
.textomensagem{
	padding: 7px;
	background-color: white;
	border-radius: 10px;
	color: black;
	border: 1px solid black;
}


/*
############
	Css da caixa de texto responsável por
	formatar a caixa no qual será digitado
	o nome da pessoa que enviar a mensagem
############
*/
.digitarnome{
	border: 1px solid black;
	border-radius: 10px;
	padding: 4px;
}

