
body{
    font-family: Arial, Helvetica, sans-serif; 
    overflow-x: hidden;
    background-color: rgb(244, 249, 255);
    
}

nav.navbar{
    background-color: rgb(228 237 255);
}

main{
    
    padding: 20px; 
    border: 20px;
    margin: 20px; 
    padding-bottom: 1000px;
    
}

.titulo-index{
    text-align: center; 
    font-size: 300%; 
    font-family: Arial; 
    font-weight: bold; 
    color: #0061E0; 
    padding-top: 20px;
    padding-bottom: 50px;
}

footer{
    background-image: linear-gradient(to bottom, #0061E0, #0D263B);
    color: white; 
    height: 60px; 
    padding: 50px;  
    padding-bottom: 50px;
    width: 100%;
}

.logo{
    margin-left: 200px;
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0061E0;
}

.cadastro{
    background-color: #E2EFFF;
    width: 650px;
    border-bottom: 200px;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top:50px;
    margin-bottom: 100px;
    border-radius: 20px;
}


.login{
    margin-bottom: 200px;
    background-color: #E2EFFF;
    width: 700px;
    height: 700px;
    border-bottom: 200px;
    padding-bottom: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #0061E0;
    outline: none;
    color: #000000;
}

.card-content-textarea {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-textarea textarea {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    height: 150px;
    border: 1px solid #0061E0;
    outline: none;
    color: #000000;
}







